{% extends 'base.html' %}
{% block title %}contact{% endblock title %}
{% block body %}
<section class="contact-form" >
    <h2>Contact Information</h2>
    <p>If you have any questions or feedback, feel free to get in touch with us:</p>
    <form action="/contact" method="post"> <!-- Specify your form action and method -->
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>

        <label for="no">no:</label>
        <input type="number" id="no" name="no" placeholder="Enter your number" required>

        <button type="submit">Submit</button>
    </form>
</section>
<style>
    /* styles.css */

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1rem;
    }
    
    nav {
        background-color: #444;
        color: #fff;
        text-align: center;
        padding: 0.5rem;
    }
    
    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
    }
    
    .contact-form {
        background-color: #f9f9f9;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
    
    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
    
    input,
    textarea {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    
    button {
        background-color: #333;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 0.5rem;
    }
    
    /* Media Query for Responsive Design */
    @media screen and (max-width: 600px) {
        main {
            padding: 1rem;
        }
    }
    
</style>

{% endblock body %}
